
<!-- *****************************************++++ -->

<div class="center_basket">
    <h1>RECIEPT GENERATOR</h1>
    
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="flex-container">
        
                <div class="flex-child">
                    <input id="id" type="text" formControlName="id" placeholder="ID">
                </div>
        
                <div class="flex-child">
                    <input id="name" type="text" formControlName="name" placeholder="Name">
                </div>
            
                <div class="flex-child">
                    <input id="price" type="text" formControlName="price" placeholder="Price">
                </div>
            
                <div class="flex-child">
                    <input id="count" type="text" formControlName="count" placeholder="Count">
                </div>
        
            </div>
            <button mat-raised-button class="add_item_button" color="primary" type="submit">Add Item</button>
        </form>


    <!-- *****************************************++++ -->
    
    <h3>Shopping Basket</h3>
    
    <table id="items">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Sales Tax</th>
          <th>Import Tax</th>
        </tr>
        <tr class="cart-item" *ngFor="let item of basketItems">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.count | number }}</td>
          <td>{{ item.price | currency }}</td>
          <td>sales tax</td>
          <td> import tax</td>
        </tr>
    </table>
</div>






  
