<div class="center_basket">

    <!-- ********************* form ********************++++ -->

    <h1>RECIEPT GENERATOR</h1>
    
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="flex-container">
        
                <div class="flex-child">
                    <input id="id" type="text" formControlName="id" placeholder="ID">
                </div>
        
                <div class="flex-child">
                    <input id="name" type="text" formControlName="name" placeholder="Name">
                </div>
            
                <div class="flex-child">
                    <input id="price" type="text" formControlName="price" placeholder="Price">
                </div>
            
                <div class="flex-child">
                    <input id="count" type="text" formControlName="count" placeholder="Count">
                </div>

                <!-- Item type Selector -->
                <div class="flex-selector">
                    <mat-select [(value)]="selected" >
                        <mat-option value="Select Item Type">Select Item Type</mat-option>
                        <mat-option value="food">Food</mat-option>
                        <mat-option value="medicine">Medicine</mat-option>
                        <mat-option value="books">Books</mat-option>
                        <mat-option value="others">Others</mat-option>
                    </mat-select>
                </div>   

            </div>

            <button mat-raised-button class="add_item_button" color="primary" type="submit">Add Item</button>

        </form>


    <!-- ********************* table ********************++++ -->
    
    <h3>Shopping Basket</h3>
    
    <table id="items">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Sales Tax</th>
          <th>Import Tax</th>
          <th>Price with Tax</th>
          <th></th>
        </tr>
        <tr class="cart-item" *ngFor="let item of basketItems">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.count | number }}</td>
          <td>{{ item.price | currency: 'EUR'}}</td>
          <td>{{ item.salesTax | currency: 'EUR' }}</td>
          <td>{{ item.importTax | currency: 'EUR' }}</td>
          <td>{{ item.totalPrice | currency: 'EUR' }}</td>
          <td>
            <div class="flex-child">
                <button mat-icon-button color="primary" (click)="deleteItem(item)">
                   <mat-icon>delete</mat-icon>
                </button>
            </div>
          </td>
        </tr>
    </table>


</div>

<div class="center_basket">

    <div class="print_preview">
        <button mat-raised-button class="add_item_button" color="primary" (click)="printReceipt()">Generate Preview</button>
        &nbsp;
        <button mat-raised-button class="add_item_button" color="primary" (click)="printReceipt()">Print</button>    
    </div>

</div>






  
