.item_attr {
    margin-top: 1em;
}

h1 {
    margin: 1em;
    font-size: 40px;
  }

h3 {
    margin-top: 2em;
    font-size: 30px;
}

.print_preview{
    margin-bottom: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-child{
    /* flex: 1; */
    margin-right: 10px;
}

.flex-selector{
    width: 150px;
}

.add_item_button {
    margin-top: 1em;
}

.center_basket {
    margin: 5em;
    text-align: center;
}

#items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#items td, #items th {
border: 1px solid #ddd;
/* padding: 5px; */
}

#items tr:nth-child(even){background-color: #f2f2f2;}

#items tr:hover {background-color: #ddd;}

#items th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #5e08b5;
color: white;
}

.mat_select{
    color: #5e08b5;
}

.mat-icon {
    font-size: 15px;
}

/* checking validity of input form */
input.ng-invalid {
    /* background-color:pink; */
    border-color: red;
}
input.ng-valid {
    /* background-color:white; */
    border-color: white;
}

/* Print section preview */

div .print_section {
    pointer-events: none;
  }
/*  
.print_section_div{
    display: none;
} */

