<div class="center_basket">
    
    <h2>RECEIPTS HISTORY</h2>

    <table id="items">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Sales Tax</th>
          <th>Import Tax</th>
          <th>Price with Tax</th>
          <th></th>
        </tr>
        <tr class="cart-item" *ngFor="let receipt of receipts">
          <td>{{ receipt.id }}</td>
          <td>{{ receipt.name }}</td>
          <td>{{ receipt.count | number }}</td>
          <td>{{ receipt.price | currency: 'EUR'}}</td>
          <td>{{ receipt.salesTax | currency: 'EUR' }}</td>
          <td>{{ receipt.importTax | currency: 'EUR' }}</td>
          <td>{{ receipt.totalPrice | currency: 'EUR' }}</td>
          <div class="flex-child">
          <button mat-icon-button  color="primary" 
            [useExistingCss]="true" 
            printSectionId="print_section"
            ngxPrint (click)="sendRecieptToPrintComponent(receipt)">  
            <mat-icon>print</mat-icon>
          </button>
          </div>
          <div id="print_section" class="print_section_div" style="display: none;">
            <app-print [basketItems]="receipt.items" [itemsTotal]="receipt" [receiptId]="receipt.id"></app-print>
          </div>
        </tr>
    </table>
    <br>
    
    <div *ngIf="getReceiptsError != ''">            
      <p style="color: red;">{{ getReceiptsError }}</p>
    </div>
    <div *ngIf="serverError != ''">            
      <p style="color: red;">{{ serverError }}</p>
    </div>

</div>

