<section class="main-pd-wrapper" style="width: 450px; margin: auto">
    <div style="
                text-align: center;
                margin: auto;
                line-height: 1.5;
                font-size: 14px;
                color: #4a4a4a;
            ">
 
            <p style="font-weight: bold; color: #000; margin-top: 15px; font-size: 18px;">
                Tax Invoice/Bill
            </p>
            <p style="font-weight: bold; color: #000; margin-top: 15px; font-size: 18px;">
                {{ receiptId }}
            </p>
            <p style="margin: 15px auto;">
                Lutzner Plan 8 <br>
                Leipzig 04179, Germany
            </p>
            <p>
                <b>GSTIN:</b> 0987653456789
            </p>
            <p>
                <b>CIN:</b> 0987653456789
            </p>
            <p>
                <b>FSSAI No. :</b> 0987653456789
            </p>
            <hr style="border: 1px dashed rgb(131, 131, 131); margin: 25px auto">
            </div>
            <table style="width: 100%; table-layout: fixed">
            <thead  style="width: 100%;
            background: #5e08b5;;
            border-radius: 4px;
            color: white;">
                <tr class="invoice-items">
                <!-- <th style="width: 50px; padding-left: 0;">Sn.</th> -->
                <th style="width: 220px;">Item Name</th>
                <th>QTY</th>
                <th style="text-align: right; padding-right: 10;">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr class="invoice-items" *ngFor="let item of basketItems">
                    <!-- <td>1</td> -->
                    <td style="width: 220px;">{{item.name}}</td>
                    <td>{{item.count | number}}</td>
                    <td style="text-align: right; padding-right: 0;">{{item.totalPrice | currency: 'EUR'}}</td>
                </tr>            
            </tbody>
            </table>

            <table style="width: 100%;
            margin-top: 15px;
            border: 1px dashed #00cd00;
            border-radius: 3px;">
            <thead style="width: 100%;
            border-radius: 4px;">
                <!-- <tr>
                <td>Total Sales Tax: </td>
                <td style="text-align: right;">{{itemsTotal.salesTax | currency: 'EUR'}}</td>
                </tr>
                <tr>
                <td>Total Import Tax: </td>
                <td style="text-align: right;">{{itemsTotal.importTax | currency: 'EUR'}}</td>
                </tr> -->
                <tr>
                    <td>Total Tax: </td>
                    <td style="text-align: right;">{{itemsTotal.totalTax | currency: 'EUR'}}</td>
                </tr>
            </thead>
            
            </table>


            <table style="width: 100%;
            background: #5e08b5;;
            border-radius: 4px;
            color: white;">
                <thead>
                    <tr>
                    <th>Total</th>
                    <th style="text-align: center;"> items {{itemsTotal.count | number}}</th>
                    <!-- <th>&nbsp;</th> -->
                    <th style="text-align: right;">{{itemsTotal.totalPrice | currency: 'EUR'}}</th>
                    
                    </tr>
                </thead>
                
            </table>

</section>
