<div class="center_basket">

    <h1>Manual</h1>
    <h3>Click on <mat-icon>home</mat-icon> to go to the generate receipts page</h3>
    <h3>Click on  <mat-icon>settings</mat-icon> button to go to the settings page</h3>
    <h3>Click on <mat-icon>history</mat-icon> button see the history of the receipts generated</h3>

    <h3>Follow the below steps to generate a receipt</h3>
    <h4> Step 1: Fill in the values for `name` , `count`, `price` and `select Item type` in the `Receipt Generator`.</h4>
    <h4>Step 2: Click `Add Item`</h4>
    <h4>Step 3: Add all the items that you want to add to the basket</h4>
    <h4>Step 4: Click on <mat-icon>delete</mat-icon> button in the `Shopping Basket` row, to delete an item from the shopping basket</h4>
    <h4>Step 5: Once the items are added to the basket, you can preview your invoice by scrolling down the page or by clicking on the button `Show Invoice Preview`. To go back to the home page, click on the <mat-icon>home</mat-icon> icon on the top of the page.</h4>
    <h4>Step 6: Click `Clear Basket` to clear all the items in the basket</h4>

    <h4>Step 7: Click `save & print` to save the invoice and preview the print, click on print again in the preview page, to print the invoice. Once the `save & print` button is clicked, the invoice is saved in the db and the `shopping basket` is cleared as well as the invoice preview.</h4>

    <h3>you will get an empty invoice generator after the invoice is printed.</h3>

    <h1>NOTE: Features yet to come, option to add customized categories for sales tax which will be included in the drop down menu </h1>




</div>

